<div class="alert alert-warning text-center mt-4 animated fadeIn" role="alert" *ngIf="!loginService.userExist">
    <strong>Debe logearse para poder ingresar</strong>
</div>

<div class="container animated fadeIn" *ngIf="loginService.userExist">
    <div class="pt-3 mb-2">
        <h2>
            SERVICIO DEL CLIMA
        </h2>
    </div>
    <div class="row">
        <div class="col-md animated fadeIn">
            <div class="card container shadow">
                <h3>
                    Seleccioná la zona
                </h3>
                <form>
                    <span class="form-tittle">País</span>
                    <select name="pais" id="pais" class="form-selector" [(ngModel)]="country" (change)="onChange($event.target.value)">
                        <option hidden>Seleccioná un país</option>
                        <option *ngFor="let country of countries"> {{ country }} </option>
                    </select>
                    <span class="form-tittle">Ciudad</span>
                    <select name="ciudad" id="ciudad" class="form-selector" [(ngModel)]="city">
                        <option [ngValue]="null" disabled hidden>Seleccioná una ciudad</option>
                        <option *ngFor="let city of cities"> {{ city }} </option>
                    </select>
                    <button class="form-button" type="button" (click)="search()">BUSCAR</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 animated fadeIn" *ngIf="weatherStatus[1]">
            <div class="card container shadow">
                <h3>
                    Reporte
                </h3>
                <div class="row mt-2" id="report" *ngIf="weatherStatus[0].description != null">
                    <div class="col-md spr" id="reportData">
                        <div>
                            <p class="country"> {{country}} </p>
                            <p class="city"> {{city}} </p>
                        </div>
                        <div>
                            <p class="day"> {{day}} </p>
                            <p class="weather"> {{weatherStatus[0].description}} </p>
                        </div>
                        <div>
                            <div>
                                <span class="celsious-reporte"> {{weatherStatus[0].celsius}} </span> <span class="celsious"> °C</span>
                            </div>
                            <span class="farenheit">{{weatherStatus[0].farenheit}}°F</span>
                        </div>
                    </div>
                    <div class="col-md spl" id="reportImg">
                        <div class="text-center imagen" id="dayImageWeather">
                            <img src="../../../assets/nevado.PNG" alt="nevado">
                        </div>
                        <div class="weather-st mt-5">
                            <div class="logdiv">Prob. de precipitaciones: 0%</div>
                            <div>Humedad: {{weatherStatus[0].humidity}}%</div>
                            <div>Viento: a {{weatherStatus[0].wind}} km/h.</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="container mb-4 mt-4 animated fadeIn d-flex">
            <div class="text-center card shadow flex-md-row flex-sm-column justify-content-around" *ngIf="weatherStatus[1]">
                <div *ngFor="let day of week ; let i = index">
                    <app-day-card [day]="week[i]" [celsius]="weatherStatus[i].celsius" [farenheit]="weatherStatus[i].farenheit"></app-day-card>
                </div>
            </div>
        </div>
    </div>
</div>