.card {
    position: static;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    padding-bottom: 1em;
}

.card div {
    background-color: #fff;
}


/*Selecciona la zona*/

.form-selector {
    margin: 5px 0 20px 0;
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #e4e3e3;
    appearance: none;
    padding-left: 10px;
    color: #808080;
}

.farenheit {
    margin: 20px 0 0 0;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
}


/********Reporte**********/

.country {
    font-size: 13px;
    color: #808080;
    margin: 0px;
}

.city {
    font-size: 16px;
    color: #808080;
    margin: 3px 0 0 0;
}

.day {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 7px;
    margin: 10px 0 0 0;
}

.weather {
    letter-spacing: 7px;
    font-weight: bold;
}

.celsious-reporte {
    font-weight: bold;
    font-size: 50px;
}

.celsious {
    top: 0px;
    font-weight: bold;
    font-size: 30px;
}

.imagen {
    margin: 30px 0;
}

.weather-st div {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
}

.longdiv {
    text-align: left;
    box-sizing: border-box;
}

.spr {
    padding-right: 0;
}

.spl {
    padding-left: 0;
}


/* Day cards */

.flex {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}


/* mediaQ */

@media screen and (max-width: 992px) {
    #dayImageWeather {
        margin: 0;
    }
    .spl .weather-st {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .col-md-6 {
        margin-top: 1.5rem;
    }
    #report {
        justify-content: space-evenly;
        text-align: center;
    }
    #reportData {
        width: auto;
    }
    #reportImg {
        width: auto;
    }
}