* {
    letter-spacing: 2px;
}

div {
    background-color: #fff;
}

.image {
    margin: 35px 0;
    text-align: center;
}

.celsious-day {
    margin: 0;
}

.tittle-day {
    color: #485897;
}

p {
    font-weight: bold;
    text-align: center;
}