<div class="col-md pt-5">
    <h4 class="tittle-day"> {{day}} </h4>
    <div class="image">
        <img src="../../../assets/nevado.PNG" alt="imagenClima">
    </div>
    <p class="celsious-day mt-3"> {{celsius}}°C </p>
    <p class="farenheit pt-2"> {{farenheit}}°F </p>
</div>