nav {
    background-color: #FF6859;
    padding: 6px;
    position: relative;
    width: 100%;
}

.logo-nav {
    color: #fff;
    background-color: #FF6859;
    display: inline;
    margin: 0 0 0 30px;
}

.login-button {
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    margin: 0 50px 0 0;
    padding: 2px 10px;
    float: right;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #d14235;
    border: none;
}

i {
    margin-left: 5px;
}