<nav>
    <div class="container">
        <p class="logo-nav"> <i class="fa fa-umbrella" aria-hidden="true"></i> ClimaTool </p>
        <button *ngIf="!_login.userExist" (click)="changeState()" class="login-button"> INICIAR SESIÓN <i class="fa fa-user"></i></button>
        <button *ngIf="_login.userExist" (click)="logout()" class="login-button"> CERRAR SESIÓN <i class="fa fa-user"></i></button>
    </div>
</nav>
<div class="container">
    <div *ngIf="showLogin">
        <app-auth (close)="showLogin = $event" [LoginState]="showLogin"></app-auth>
    </div>
</div>