.auth-card {
    margin-left: 51%;
    position: absolute;
    width: 350px;
    height: 270px;
    background-color: white;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    padding: 0 15px;
    z-index: 9;
}

.login-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e2e0e0;
    padding: 7px;
    padding-left: 10px;
}

form span {
    margin: 20px 0 7px 0;
    font-size: 15px;
}

@media screen and (max-width: 991px) {
    .auth-card {
        margin-left: 45%;
    }
}

@media screen and (max-width: 767px) {
    .auth-card {
        margin-left: 25%;
    }
}

@media screen and (max-width: 460px) {
    .auth-card {
        margin-left: -2%;
    }
}