<div class="auth-card shadow fadeIn fast left-0">
    <div class="container">
        <form [formGroup]="loginUser" (ngSubmit)="login()">
            <span class="form-tittle">Usuario</span>
            <input type="email" class="login-input" formControlName="email" [class.is-invalid]="InvalidMail" placeholder="climatool@gmail.com">
            <span class="form-tittle">Contraseña</span>
            <input type="password" class="login-input" formControlName="password" [class.is-invalid]="InvalidPassword" placeholder="*******">
            <button type="submit" class="form-button mt-4"> INICIAR SESIÓN</button>
        </form>
    </div>
</div>