* {
    font-family: 'Noto Sans JP', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

h2::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #FF6859;
    display: block;
    border-radius: 5px;
    left: 0;
    bottom: 0px;
    margin: 20px 0;
}

h3 {
    margin-top: 10px;
    color: #485897;
    text-align: center;
    background-color: white;
    font-weight: bold;
}

h3::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #656f97;
    display: block;
    border-radius: 5px;
    left: 0;
    bottom: 0px;
    margin-top: 10px;
}

.shadow {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.form-tittle {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

.form-button {
    width: 100%;
    display: block;
    background-color: #FF6859;
    border-radius: 2px;
    border: none;
    padding: 7px;
    color: white;
    font-weight: bold;
    margin-top: 18px;
    transition: 0.3s;
}

.form-button:hover {
    background-color: #d14235;
}

.is-invalid {
    border: 1px solid red !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* mediaQ */