footer {
    position: absolute;
    padding: 15px;
    bottom: 0px;
    width: 100%;
    background-color: #000;
    text-align: center;
}

.copyright {
    color: #6E6F7D;
    display: inline;
    margin: 0 0 0 30px;
}